
*.rtd
*.rpt
*.tcl
*.wpc
*.jou
*.log
*.jou

*.log
*.wdf
*.xml
*.lpr
*.rst
*.vdi
*.pb
*.rpx
*.dcp
*.txt
*.js
*.sh
*.bat
*.vds
*.xpr
*.jou
full_adder/vivado.jou
full_adder/vivado.log

*.sdf
*.v
*.dbg
*.html
*.reloc
*.rtti
*.svtype
*.type
*.xdbg
*.exe
*.vdb
*.sdb
*.rlx
*.ini
*.wdb
*.info
*.mem
*.log
*.jou
*.zip

